@tailwind components;
@tailwind utilities;

:root {
        --theme-text-color: #4a4a4a;
        --theme-desc-color: #6b7280;
        --theme-bg-color: #f5f4ee;
        --theme-btn-bg-color: #ffffff;
        --theme-main-bg-color: #ffffff;
        --theme-border-color: #e3e1db;
        --theme-splitter-color: #e3e1db;
        --theme-button-border-color: #bebebe;
        --theme-primary-color: #3a6d70;
        --theme-success-color: #69c081;
        --theme-warning-color: #e6a23c;
        --theme-danger-color: #d97c7c;
        --theme-bubble-bg-color: #f5f4ee;
        --theme-code-block-bg-color: #f0eee8;
}

/* 夜间模式类名 */
.dark {
        --theme-text-color: #d4d4d4;
        --theme-desc-color: #b0b0b0;
        --theme-bg-color: #1f1f1f;
        --theme-btn-bg-color: #333;
        --theme-main-bg-color: #2c2c2c;
        --theme-border-color: #666;
        --theme-splitter-color: #444444;
        --theme-button-border-color: #d1d1d1;
        --theme-bubble-bg-color: #3a3a3a;
        --theme-code-block-bg-color: #232323;
}

.ant-collapse {
	.ant-collapse-item {
		.ant-collapse-header-text {
			color: var(--theme-text-color);
		}
	}
	.ant-collapse-expand-icon {
		color: var(--theme-text-color) !important;
	}
}

.ant-bubble-list {
	.ant-bubble {
		.ant-bubble-content {
			padding-top: 0;
			padding-bottom: 0;
			min-height: auto;
			overflow: hidden;
			background-color: var(--theme-bubble-bg-color);

			think,
			details {
				background-color: transparent !important;
				padding: 0 !important;
				margin-bottom: 0.25rem;
			}
		}

		&[role='user'] {
			.ant-bubble-content {
				background-color: var(--theme-bubble-bg-color);
				color: #fff;
			}
		}

		p {
			margin-top: 0.5rem !important;
			margin-bottom: 0.5rem !important;
		}

		pre {
			border-radius: 8px;
			color: var(--theme-text-color);
			background-color: var(--theme-code-block-bg-color) !important;
		}
	}
}

hr {
	margin: 0.25rem auto;
	color: #9ca3b3;
	height: 0;
	display: none;
}

h3 {
	margin-top: 0.5rem !important;
	margin-bottom: 0.5rem !important;
	font-size: 18px !important;
}

body {
        margin: 0;
        color: var(--theme-text-color);

        font-family: "Noto Serif TC", AibabaPuHuiTi, serif;
        background: white;
}

a {
	color: var(--theme-text-color);
}

.content {
	display: flex;
	min-height: 100vh;
	line-height: 1.1;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	h1 {
		font-size: 3.6rem;
		font-weight: 700;
	}

	p {
		font-size: 1.2rem;
		font-weight: 400;
		opacity: 0.5;
	}
}

/* 滚动条的宽度 */

::-webkit-scrollbar:vertical {
	width: 8px; /* 纵向滚动条宽度 */
}

/* 滚动条的轨道颜色 */

::-webkit-scrollbar-track {
	border-radius: 4px;
	background-color: #f0f0f0;
}

.dark {
	::-webkit-scrollbar-track {
		background-color: #333;
	}
}

/* 滚动条的滑块样式 */

::-webkit-scrollbar-thumb {
	background-color: #ccc;

	border-radius: 4px;
}

.dark::-webkit-scrollbar-thumb {
	background-color: #555;
}

/* 滚动条在鼠标悬停时的滑块颜色 */

::-webkit-scrollbar-thumb:hover {
	background-color: #999;
}

.dark::-webkit-scrollbar-thumb:hover {
	background-color: #777;
}
